{% extends 'base.html' %}
{% load static %}
{% load image_exists from chewy_extras  %}

{% block title %}
Vehicles
{% endblock %}

{% block content %}

<div class="container">
    <div id="films" class="list-group borderless overflow-auto">
        {% for f in vehicles %}
            <a href="/vehicles/{{ f.id }}" class="list-group-item list-group-item-action">
            {% if f.id|image_exists:"vehicles/" %}
                <img src="{% get_static_prefix %}media/images/vehicles/{{ f.id }}.jpg" alt="{{f.name}}" style="width: 15%;" class="img-fluid rounded pull-left mr-4">
            {% else %}
                <img src="{% get_static_prefix %}media/images/vehicles/not_found.jpg" alt="not_found" style="width: 15%;" class="img-fluid rounded pull-left mr-4">
            {% endif %}
            <h2>{{ f.name }} </h2>
            </a>
        {% endfor %}    
    </div>
</div>
    
{% endblock %}