@font-face {
    font-family: 'Starjedi';
    src: url('../fonts/Starjedi.ttf');
    font-weight: normal;
    font-style: normal;
}
 
.list-group-item {
    background-color: transparent;
    border-top: 1px solid #ddd;
    border-radius: 0;
    color: #fff;
}
li.borderless { border-top: 0 none; }
.carousel-control-next,
.carousel-control-prev {
    top: 20%;
    bottom: 20%;
}

#film>h1 {
    font-family: 'Starjedi';
}

html {
    font-family: 'Open Sans';
}
