@font-face {
    font-family: 'Starjedi';
    src: url('../fonts/Starjedi.ttf');
    font-weight: normal;
    font-style: normal;
}

.carousel-control-next,
.carousel-control-prev {
    top: 20%;
    bottom: 20%;
}

#film>h1 {
    font-family: 'Starjedi';
}