@font-face {
    font-family: 'Starjedi';
    src: url('../fonts/Starjedi.ttf');
    font-weight: normal;
    font-style: normal;
}
 
.list-group-item {
    background-color: transparent;
    border-top: None;
    color: #fff;
}

.list-group{
    max-height: 650px;
    margin-bottom: 10px;
    -webkit-overflow-scrolling: touch;
}
.list-group::-webkit-scrollbar { 
    display: none;
}

.carousel-control-next,
.carousel-control-prev {
    top: 20%;
    bottom: 20%;
}

#film>h1, #films h2 {
    font-family: 'Starjedi';
}

html {
    font-family: 'Open Sans';
}
