{% extends 'base.html' %}
{% load static %}


{% block title %}
Films
{% endblock %}

{% block content %}

    <div id="film">

        {% for f in film %}
            <ul class="list_links">       	
                <a href="/film/{{ f.id }}"><li> {{ f.title }} </li></a>
            </ul>

            {% comment %} <img src="{% get_static_prefix %}media/images/films/{{ f.id }}.jpg" alt="{{f.title}}" style="width:15%"  class="img-fluid rounded pull-left mr-4">  {% endcomment %}
                {% comment %} <h1> {{f.title}} </h1> {% endcomment %}
            {% comment %} {% if forloop.counter0|divisibleby:2 %} {% endcomment %}
                {% comment %} <img src="{% get_static_prefix %}media/images/films/{{ f.id }}.jpg" alt="{{f.title}}" style="width:15%"  class="img-fluid rounded pull-left mr-4"> {% endcomment %}
                {% comment %} <h1> {{f.title}} </h1> {% endcomment %}
            {% comment %} {% else %} {% endcomment %}
                {% comment %} <img src="{% get_static_prefix %}media/images/films/{{ f.id }}.jpg" alt="{{f.title}}" style="width:15%"  class="img-fluid rounded pull-right mr-4"> {% endcomment %}
                {% comment %} <h1> {{f.title}} </h1> {% endcomment %}
            {% comment %} {% endif %} {% endcomment %}
        {% endfor %}    
    
    </div>

    
{% endblock %}