{% extends 'base.html' %}
{% load static %}


{% block title %}
Films
{% endblock %}

{% block content %}

    <div id="film">

        {% for f in film %}
	
                <a href="/film/{{ f.id }}"> {{ f.title }} </a>

            {% comment %} <img src="{% get_static_prefix %}media/images/films/{{ f.id }}.jpg" alt="{{f.title}}" style="width:15%"  class="img-fluid rounded pull-left mr-4">  {% endcomment %}
                {% comment %} <h1> {{f.title}} </h1> {% endcomment %}

        {% endfor %}    
    
    </div>

    
{% endblock %}