{% extends 'base.html' %}
{% load static %}


{% block title %}
Films
{% endblock %}

{% block content %}


<div class="container">
    <div class="list-group">
        {% for f in film %}
            <img src="{% get_static_prefix %}media/images/films/{{ f.id }}.jpg" alt="{{f.title}}" style="width:15%"  class="img-fluid rounded pull-left mr-4">
            <a href="/film/{{ f.id }}" class="list-group-item list-group-item-action"> {{ f.title }} </a>
        {% endfor %}    
    </div>
</div>



{% comment %} 
    <div id="film">

        {% for f in film %}
            <img src="{% get_static_prefix %}media/images/films/{{ f.id }}.jpg" alt="{{f.title}}" style="width:15%"  class="img-fluid rounded pull-left mr-4">
            <a href="/film/{{ f.id }}"> {{ f.title }} </a>

            <img src="{% get_static_prefix %}media/images/films/{{ f.id }}.jpg" alt="{{f.title}}" style="width:15%"  class="img-fluid rounded pull-left mr-4"> 
            <h1> {{f.title}} </h1> 

        {% endfor %}    
    
    </div> {% endcomment %}

    
{% endblock %}