{% extends 'base.html' %}
{% load static %}


{% block title %}
Films
{% endblock %}

{% block content %}

    {% for f in film %}
        
        {% if forloop.counter0|divisibleby:2 %}
            <img src="{% get_static_prefix %}media/images/films/{{ f.id }}.jpg" alt="{{f.title}}" style="width:15%"  class="img-fluid rounded left">
        {% else %}
            <img src="{% get_static_prefix %}media/images/films/{{ f.id }}.jpg" alt="{{f.title}}" style="width:15%"  class="img-fluid rounded right">
        {% endif %}
        <div class="row">
            <div class="column">
        

        </div>
    {% endfor %}

{% endblock %}