{% extends 'base.html' %}
{% load static %}

{% block title %}
Films
{% endblock %}

{% block content %}
{% for f in film %}

{% endfor %}
<div class="row">
    <div class="column">
        <img src="{% get_static_prefix %}media/images/films/{{ film.id }}.jpg" alt="{{film.title}}" style="width:100%">
    </div>
        <div class="column">
            <img src="img_forest.jpg" alt="Forest" style="width:100%">
        </div>
    <div class="column">
        <img src="img_mountains.jpg" alt="Mountains" style="width:100%">
    </div>
</div>
{% endblock %}