{% extends 'base.html' %}
{% load static %}


{% block title %}
Films
{% endblock %}

{% block content %}

<div class="container">
    <div id="film">
        <div class="list-group borderless">
            {% for f in film %}
                <a href="/film/{{ f.id }}" class="list-group-item list-group-item-action">
                <img src="{% get_static_prefix %}media/images/films/{{ f.id }}.jpg" alt="{{f.title}}" style="width:15%"  class="img-fluid rounded pull-left mr-4">
                {{ f.title }} 
                </a>
            {% endfor %}    
        </div>
    </div>
</div>
    
{% endblock %}