{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/bg.css" %}">
    <link rel="stylesheet" href="{% static "css/starwars-glyphicons.css" %}">
    <title>Admin</title>
</head>
<body class="bg-transparent">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <table class="table table-dark">
  <tbody>
    <tr>
        {% for m in models %}
            <th scope="row"> {{ m }} </th>
            <td> {{ models[m] }} </td>
        {% endfor %}
    </tr>
  </tbody>
</table>

</body>
</html>
