{% extends 'base.html' %}

{% block title %}
Chewy
{% endblock %}

{% block content %}
<main>
    <div>
        <form action= " {% url "search_list" %} ">
            {% comment %} {% csrf_token %} {% endcomment %}
            <!-- {{ form }} -->
            <!-- <input type="submit" value="Submit"> -->
            <input type="text" name="search" placeholder="Buscar película...">
            <button type="submit">Icono de lupa</button>
        </form>
    </div>
    <div>
        
    </div>
</main>

{% endblock %}