{% extends 'base.html' %}
{% load static %}
{% block title %}
Chewy
{% endblock %}

{% block content %}
<div class="text-white text-center">
    <div id="indexCarousel" class="carousel slide" data-ride="carousel">
        <center>
        <div class="carousel-inner">
            {% for film in films %}
            {% if  forloop.first %}
            <div class="carousel-item active">
                {% else %}
                <div class="carousel-item">
                    {% endif %}
                    <a href="{% url 'film' film.id %}">
                        <img class="img-fluid" src="{% get_static_prefix %}media/images/films/{{ film.id }}.jpg"
                            alt="{{film.title}}">
                    </a>
                </div>
                {% endfor %}
            </div>
            </center>
        </div>
        <a class="carousel-control-prev" href="#indexCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#indexCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    {% endblock %}