{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ film.title }}
{% endblock %}

{% block content %}

<div id="film">
    <img src="{% get_static_prefix %}media/images/films/{{ film.id }}.jpg" alt="{{film.title}}"
        class="img-fluid rounded pull-left mr-4"></img>
    <h1> {{ film.title }} </h1>
    <span> {{ film.release_date }} </span>
    <p> &nbsp&nbsp&nbsp&nbsp {{ film.opening_crawl}} </p>
    <div class="row">
        <div class="col">
            Characters

            <div class="list-group borderless overflow-auto">
                {% for charac in film.characters.all %}
                    <a href="/characters/{{ charac.id }}" style="color: lightgreen" class="list-group-item ">
                        {{ charac.name }}
                    </a>
                {% endfor %}    
            </div>
        </div>

        <div class="col">
            Planets
            <div class="list-group borderless overflow-auto">
                {% for planet in film.planets.all %}
                    <a href="/planets/{{ planet.id }}" style="color: lightgreen" class="list-group-item ">
                        {{ planet.name }}
                    </a>
                {% endfor %}    
            </div>
        </div>

        <div class="col">
            Species
            <div class="list-group borderless overflow-auto">
                {% for planet in film.planets.all %}
                    <a href="/planets/{{ planet.id }}" style="color: lightgreen" class="list-group-item ">
                        {{ planet.name }}
                    </a>
                {% endfor %}    
            </div>

            {% comment %} <div class="list-group borderless overflow-auto">
                {% for specie in film.species.all %}
                    </br>
                    <a href="/species/{{ specie.id }}" style="color: lightgreen">
                        {{ specie.name }}
                    </a>
                {% endfor %}
            </div> {% endcomment %}
        </div>
        <div class="col">
            Starships
            {% for stship in film.starships.all %}
                </br>
                <a href="/starships/{{ stship.id }}" style="color: lightgreen">
                    {{ stship.name }}
                </a>
            {% endfor %}
        </div>
        <div class="col">
            Vehicles
            {% for vehicle in film.vehicles.all %}
                </br>
                <a href="/vehicles/{{ vehicle.id }}" style="color: lightgreen">
                    {{ vehicle.name }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}