{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ film.title }}
{% endblock %}

{% block content %}

<div id="film">
    <img src="{% get_static_prefix %}media/images/films/{{ film.id }}.jpg" alt="{{film.title}}"
        class="img-fluid rounded pull-left mr-4"></img>
    <h1> {{ film.title }} </h1>
    <span> {{ film.release_date }} </span>
    <p> &nbsp&nbsp&nbsp&nbsp{{ film.opening_crawl}} </p>
    <div class="container text-white">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% comment %} <p> {{ film.title }} - {{ film.release_date }} </p>
<p> {{ film.opening_crawl}} {% endcomment %}

    {% endblock %}