{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ film.title }}
{% endblock %}

{% block content %}

<div id="film">
    <img src="{% get_static_prefix %}media/images/films/{{ film.id }}.jpg" alt="{{film.title}}"
        class="img-fluid rounded pull-left mr-4"></img>
    <h1> {{ film.title }} </h1>
    <span> {{ film.release_date }} </span>
    <p> &nbsp&nbsp&nbsp&nbsp {{ film.opening_crawl}} </p>
    <div class="row">
        <div class="col">
            Characters
            
            {% for charac in film.characters.all %}
                <a href="/characters/{{ charac.id }}" style="color: lightgreen">
                    {{ charac.name }}
                </a>
            {% endfor %}
        </div>
        <div class="col">
            Planets
            
            {% for planet in film.planets %}
                <a href="/planets/{{ planet.id }}" style="color: lightgreen">
                    {{ planet.name }}
                </a>
            {% endfor %}
        </div>
        <div class="col">
            Species
        </div>
        <div class="col">
            Starships
        </div>
        <div class="col">
            Vehicles
        </div>
    </div>
</div>

{% endblock %}