{% extends 'base.html' %}
{% load static %}

{% block title %}
Starships
{% endblock %}

{% block content %}

    <div id="film">
        <img src="{% get_static_prefix %}media/images/starships/{{ starships.id }}.jpg" alt="{{starships.name}}"  class="img-fluid rounded pull-left mr-4">
        <h1> {{ starships.name }} </h1>
        <table style="border-collapse: separate; border-spacing: 10px;">
            <tr>
                <th> Model </th>
                <th>{{ starships.model }}</th>
            </tr>
            <tr>
                <th> Manufacturer </th>
                <th>{{ starships.manufacturer }}</th>
            </tr>
            <tr>
                <th> Cost in credits </th>
                <th>{{ starships.cost_in_credits }}</th>
            </tr>
            <tr>
                <th> Length </th>
                <th>{{ starships.length }}</th>
            </tr>
            <tr>
                <th> Max atmosphering speed </th>
                <th>{{ starships.max_atmosphering_speed }}</th>
            </tr>
            <tr>
                <th> Crew </th>
                <th>{{ starships.crew }}</th>
            </tr>
            <tr>
                <th> Passengers </th>
                <th>{{ starships.passengers }}</th>
            </tr>
            <tr>
                <th> Cargo capacity </th>
                <th>{{ starships.cargo_capacity }}</th>
            </tr>
            <tr>
                <th> Consumables </th>
                <th>{{ starships.consumables }}</th>
            </tr>
            {% comment %} Starship {% endcomment %}
            <tr>
                <th> Hyperdrive rating </th>
                <th>{{ starships.hyperdrive_rating }}</th>
            </tr>
            <tr>
                <th> MGLT </th>
                <th>{{ starships.MGLT }}</th>
            </tr>
            <tr>
                <th> Starship class </th>
                <th>{{ starships.starship_class }}</th>
            </tr>
            <th> Pilots </th>
                <th>
                    {% for p in starships.pilots.all %}
                        <a href="/characters/{{ p.id }}" style="color: lightgreen">
                            {{ p.name }}
                        </a>
                    {% endfor %}
                    
                </th>
            </tr>
              
        </table>
    </div>

{% endblock %}