{% extends 'base.html' %}
{% load static %}


{% block title %}
Species
{% endblock %}

{% block content %}

    <div id="film">
        <img src="{% get_static_prefix %}media/images/species/{{ species.id }}.jpg" alt="{{species.name}}"  class="img-fluid rounded pull-left mr-4">
        <h1> {{ species.name }} </h1>
        <table style="border-collapse: separate; border-spacing: 10px;">
            <tr>
                <th> Height </th>
                <th>{{ species.height }}</th>
            </tr>
            <tr>
                <th> Mass </th>
                <th>{{ species.mass }}</th>
            </tr>
            <tr>
                <th> Hair color </th>
                <th>{{ species.hair_color }}</th>
            </tr>
            <tr>
                <th> Skin color </th>
                <th>{{ species.skin_color }}</th>
            </tr>
            <tr>
                <th> Eye color </th>
                <th>{{ species.eye_color }}</th>
            </tr>
            <tr>
                <th> Birth year </th>
                <th>{{ species.birth_year }}</th>
            </tr>
            <tr>
                <th> Gender </th>
                <th>{{ species.gender }}</th>
            </tr>
            <tr>
                <th> Homeworld </th>
                <th>
                    <a href="/planets/{{ species.homeworld.id }}" style="color: lightgreen">
                        {{ species.homeworld.name }}
                    </a>
                </th>
            </tr>
        </table>
    </div>

{% endblock %}