{% extends 'base.html' %}
{% load static %}


{% block title %}
Characters
{% endblock %}

{% block content %}

    <div id="film">
        <img src="{% get_static_prefix %}media/images/people/{{ charac.id }}.jpg" alt="{{charac.name}}"  class="img-fluid rounded pull-left mr-4">
        <h1> {{ charac.name }} </h1>
        <table>
            <tr>
                <td> Height </td>
                <td>{{ charac.height }}</td>
            </tr>
            <tr>
                <td> Mass </td>
                <td>{{ charac.mass }}</td>
            </tr>
            <tr>
                <td> Hair color </td>
                <td>{{ charac.hair_color }}</td>
            </tr>
            <tr>
                <td> Skin color </td>
                <td>{{ charac.skin_color }}</td>
            </tr>
            <tr>
                <td> Eye color </td>
                <td>{{ charac.eye_color }}</td>
            </tr>
            <tr>
                <td> Birth year </td>
                <td>{{ charac.birth_year }}</td>
            </tr>
            <tr>
                <td> Gender </td>
                <td>{{ charac.gender }}</td>
            </tr>

            
        </table>

        <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Height</th>
                <th scope="col">Mass</th>
                <th scope="col">Hair color</th>
                <th scope="col">Skin color</th>
                <th scope="col">Eye color</th>
                <th scope="col">Birth year</th>
                <th scope="col">Gender</th>
                
            </tr>
        </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>

    </div>

{% endblock %}