{% extends 'base.html' %}
{% load static %}


{% block title %}
Characters
{% endblock %}

{% block content %}

    <div id="film">
        <img src="{% get_static_prefix %}media/images/people/{{ charac.id }}.jpg" alt="{{charac.name}}"  class="img-fluid rounded pull-left mr-4">
        <h1> {{ charac.name }} </h1>
        <table>
            <tr>
                <td> Height </td>
                <td>{{ charac.height }}</td>
            </tr>
            <tr>
                <td> Mass </td>
                <td>{{ charac.mass }}</td>
            </tr>
            <tr>
                <td> Hair color </td>
                <td>{{ charac.hair_color }}</td>
            </tr>
            <tr>
                <td> Skin color </td>
                <td>{{ charac.skin_color }}</td>
            </tr>
            <tr>
                <td> Eye color </td>
                <td>{{ charac.eye_color }}</td>
            </tr>
            <tr>
                <td> Birth year </td>
                <td>{{ charac.birth_year }}</td>
            </tr>
            <tr>
                <td> Gender </td>
                <td>{{ charac.gender }}</td>
            </tr>

            
        </table>
        

    </div>

{% endblock %}