{% extends 'base.html' %}
{% load static %}


{% block title %}
Characters
{% endblock %}

{% block content %}

    <div id="film">
        <img src="{% get_static_prefix %}media/images/people/{{ charac.id }}.jpg" alt="{{charac.name}}"  class="img-fluid rounded pull-left mr-4">
        <h1> {{ charac.name }} </h1>
        <table style="border-collapse: separate; border-spacing: 10px;">
            <tr>
                <th> Height </th>
                <th>{{ charac.height }}</th>
            </tr>
            <tr>
                <th> Average height </th>
                <th>{{ charac.average_height }}</th>
            </tr>
            <tr>
                <th> Skin colors </th>
                <th>{{ charac.skin_colors }}</th>
            </tr>
            <tr>
                <th> Hair colors </th>
                <th>{{ charac.hair_colors }}</th>
            </tr>
            <tr>
                <th> Eye colors </th>
                <th>{{ charac.eye_colors }}</th>
            </tr>
            <tr>
                <th> Average lifespan </th>
                <th>{{ charac.average_lifespan }}</th>
            </tr>
            <tr>
                <th> Gender </th>
                <th>{{ charac.gender }}</th>
            </tr>
            <tr>
                <th> Homeworld </th>
                <th>
                    <a href="/planets/{{ charac.homeworld.id }}" style="color: lightgreen">
                        {{ charac.homeworld.name }}
                    </a>
                </th>
            </tr>
        </table>
    </div>

{% endblock %}