{% extends 'base.html' %}
{% load static %}


{% block title %}
Characters
{% endblock %}

{% block content %}

    <div id="film">
        <img src="{% get_static_prefix %}media/images/people/{{ charac.id }}.jpg" alt="{{charac.name}}"  class="img-fluid rounded pull-left mr-4">
        <h1> {{ charac.name }} </h1>
        
        <div class="row">
            <div class="col">
                Height
            </div>
            <div class="col">
                Mass
            </div>
            <div class="col">
                Hair color
            </div>
            <div class="col">
                Skin color
            </div>
            <div class="col">
                Eye color
            </div>
            <div class="col">
                Birth year 
            </div>
            <div class="col">
                Gender
            </div>
            <div class="col">
                Homeworld
            </div>
        </div>

    </div>

{% endblock %}