{% extends 'base.html' %}
{% load static %}


{% block title %}
Characters
{% endblock %}

{% block content %}

    <div id="film">
        <img src="{% get_static_prefix %}media/images/people/{{ charac.id }}.jpg" alt="{{charac.name}}"  class="img-fluid rounded pull-left mr-4">
        <h1> {{ charac.name }} </h1>
        {% comment %} <table>
            <tr>
                <td>{{ Name }}</td>
                <td>{{ charac.value }}</td>
            </tr>
        </table> {% endcomment %}
        {% comment %} <li> {{ charac.genre }} </li> {% endcomment %}
    </div>
{% endblock %}